section.cat-events.wow.fadeIn( data-wow-duration="1s" data-wow-delay="1s")
  .container
    .head.center
      h2  Events by Category
      
    .row.events-wrap
      .col.col--4-of-12.col--m-6-of-12
        .category.center
          .icon(style="background-image:url(media/images/icon/catogory-wedding.png)")
            
          .description
            h3.cat_title Wedding
            p Discover the different wedding<br> culture from inside
      
      .col.col--4-of-12.col--m-6-of-12
        .category.center
          .icon(style="background-image:url(media/images/icon/catogory-2.png)")
            
          .description
            h3.cat_title Home Dining
            p Discover the different wedding<br> culture from inside      
      
      .col.col--4-of-12.col--m-6-of-12
        .category.center
          .icon(style="background-image:url(media/images/icon/catogory-3.png)")
            
          .description
            h3.cat_title Family Events
            p Discover the different wedding<br> culture from inside      
      
      .col.col--4-of-12.col--m-6-of-12
        .category.center
          .icon(style="background-image:url(media/images/icon/catogory-4.png)")
            
          .description
            h3.cat_title Sport Events
            p Discover the different wedding<br> culture from inside      
      
      .col.col--4-of-12.col--m-6-of-12
        .category.center
          .icon(style="background-image:url(media/images/icon/catogory-5.png)")
            
          .description
            h3.cat_title Public Holiday
            p Discover the different wedding<br> culture from inside      
      
      .col.col--4-of-12.col--m-6-of-12
        .category.center
          .icon(style="background-image:url(media/images/icon/catogory-6.png)")
            
          .description
            h3.cat_title Parties
            p Discover the different wedding<br> culture from inside      
                
      
          //row-close
  
