footer.main-footer
  .container
    .row
      .col.col--3-of-12.col--m-6-of-12
        h4 EVENTS
        ul
          li: a(href="#") Wedding
          li: a(href="#") Home Dining
          li: a(href="#") Family Events
          li: a(href="#") Sport Events
          li: a(href="#") Public Holiday
          li: a(href="#") Parties
        
      .col.col--3-of-12.col--m-6-of-12
        h4 CITIES
        ul
          li: a(href="#") New York
          li: a(href="#") Washington
      
      .col.col--3-of-12.col--m-6-of-12
        h4 COMPANY
        ul
          li: a(href="#") About Us
          li: a(href="#") How It Works
          li: a(href="#") Terms of Use
          li: a(href="#") Contact Us
          li: a(href="#") Privacy  
      
      .col.col--3-of-12.col--m-6-of-12
        a.button-full(href="#") Become a Host 
    
    .row.footer-bottom
      .col.col--1-of-4.select-footer        
        select(name="language") 
          option Spanish
        select(name="currenc") 
          option USD
          
      .col.col--2-of-4.col--push-1-of-4
        .social-media 
          a(href="#")  <i class="fa fa-facebook"></i>
          a(href="#")  <i class="fa fa-twitter"></i>
          a(href="#")  <i class="fa fa-google-plus"></i>
          a(href="#")  <i class="fa fa-linkedin"></i>
          a(href="#")  <i class="fa fa-pinterest-p"></i>
          a(href="#")  <i class="fa fa-youtube-play"></i>
          a(href="#")  <i class="fa fa-instagram"></i>

          
          
        
   
  

//script(type="text/javascript", src="js/jquery.min.js")
//script(type="text/javascript", src="http://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.0.6/jquery.mousewheel.min.js")
//script(type="text/javascript", src="js/simplr.smoothscroll.js")
//script(type="text/javascript", src="js/main.js")
  
