form(action="", method="post" name="search" class="search")
  ul
    li 
      input(type="text", name="event-name", value="" placeholder="Event Name")
    li 
      input(type="text", name="location", value="" placeholder="Location")
    li.myselect  
      select(name="date" class="select-date")
        option(value="date") Date
    li    
      input(type="submit", name="name", value="Search")
