section.guestimonial.wow.fadeIn( data-wow-duration="1s" data-wow-delay="1s")
  .container.center
      h1 Guestimonial
      p.message <i class="fa fa-quote-left"></i>Because of Beguesto, I got a chance to experince a wedding. <br>
        | It gave me unforgettable moments of my life. Thanks<br> Beguesto............:)  <i class="fa fa-quote-right"></i>
      img(src="media/images/avtar.png", alt="")
      .author
        p.name Thomas Edison
        p.location India
      .bullets
        a(href="#"): span
        a(href="#"): span
        a(href="#"): span.active
        a(href="#"): span 
        a(href="#"): span
         
        
        
        
      
