section.u-events.wow.fadeIn( data-wow-duration="1s" data-wow-delay="1s")
  .container
    .head.center
      h2 Upcoming Events in <span> New York </span>
      p Meet new people, Make new friends and Stay connected with different cultures
    .row--no-gutter.events-wrap
      .col.col--4-of-12.col--m-6-of-12
        .event(style="background-image:url(media/images/event1.jpg)")
          .title
            h3 Annual Party
            p Adirondacks, New York 
          .info
            ul
              li
                p <i class="fa fa-calendar-o"></i> Friday, July 25, 6.00 PM
              li: h3 $88  
        
      .col.col--4-of-12.col--m-6-of-12
        .event(style="background-image:url(media/images/event2.jpg)")
          .title
            h3 Great Place To Work An...
            p Adirondacks, New York 
          .info
            ul
              li
                p <i class="fa fa-calendar-o"></i> Friday, July 25, 6.00 PM
              li: h3 $88  
            
      .col.col--4-of-12.col--m-6-of-12
        .event(style="background-image:url(media/images/event3.jpg)")
          .title
            h3 A Night To Remember
            p Adirondacks, New York 
          .info
            ul
              li
                p <i class="fa fa-calendar-o"></i> Friday, July 25, 6.00 PM
              li: h3 $88     
      
      .col.col--4-of-12.col--m-6-of-12
        .event(style="background-image:url(media/images/event4.jpg)")
          .title
            h3 Dancin’ Queens
            p Adirondacks, New York 
          .info
            ul
              li
                p <i class="fa fa-calendar-o"></i> Friday, July 25, 6.00 PM
              li: h3 $88  
      
      .col.col--4-of-12.col--m-6-of-12
        .event(style="background-image:url(media/images/event5.jpg)")
          .title
            h3 Parties Are Wonderful!
            p Adirondacks, New York 
          .info
            ul
              li
                p <i class="fa fa-calendar-o"></i> Friday, July 25, 6.00 PM
              li: h3 $88  
      
      .col.col--4-of-12.col--m-6-of-12
        .event(style="background-image:url(media/images/event6.jpg)")
          a.title
            h3 Party Like It’s 1999 
            p Adirondacks, New York 
          .info
            ul
              li
                p <i class="fa fa-calendar-o"></i> Friday, July 25, 6.00 PM
              li: h3 $88  
        
          //row-close
    .foot.center  
      a(href="#").button-border  Discover More Events
