section.video-section
  .container
    .overlay-content
      h1 See how Beguesto provides a platform <br>for sharing moments
      a(href="#").button-border  <i class="fa fa-play"></i> Play Video
  
