section.video-section.wow.fadeIn( data-wow-duration="1s" data-wow-delay="1s")
  .container
    .overlay-content
      h1 See how Beguesto provides a platform <br>for sharing moments
      a(href="#").button-border  <i class="fa fa-play"></i> Play Video
  
